* {
    margin-right: 20px;
    margin-left: 20px;
}

header {
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto; 
}

section {
    border: 5px groove #A9A9A9;
    margin-top: 15px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto; 
}

h1 {
    font-size: 42px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    font-family: 'Gowun Dodum';
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
}

p {
    display: inline-block;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Calibri';
}

#orange {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 100px;
    border: 1px solid #FFA500;
    padding: 5px;
    margin: 7px;
    background-color: #FFA500;
}

#dimgrey {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 100px;
    border: 1px solid #696969;
    padding: 5px;
    margin: 7px;
    background-color: #696969;
}

#turquoise {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 100px;
    border: 1px solid #40E0D0;
    padding: 5px;
    margin: 7px;
    background-color: #40E0D0;  
}

#crimson {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 100px;
    border: 1px solid #DC143C;
    padding: 5px;
    margin: 7px;
    background-color: #DC143C;  
}

#name {
    text-decoration: underline;
    font-size: 24px;
}

#georama {
    font-family: 'Georama';
    text-align: left;
    width: 250px;
    border: 1px transparent;
    padding: 5px;
    margin: 7px;
}

#gowun {
    font-family: 'Gowun Dodum';
    text-align: left;
    width: 250px;
    border: 1px transparent;
    padding: 5px;
    margin: 7px;  
}

#teko {
    font-family: 'Teko';
    text-align: left;
    width: 250px;
    border: 1px transparent;
    padding: 5px;
    margin: 7px;  
}